
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore other system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore specific editor/IDE settings
.vscode/
.idea/
